@import url(var.css);

#Noise_bg-1:after {
    animation: grain 10s steps(10) infinite;
    background-image: url(../images/bg/bg_noise.png);
    content: "";
    height: 300%;   
    left: -50%;
    opacity: .65;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

body {
    color: var(--txt-c-3);
    
    margin: 0;

    background:
    linear-gradient(90deg, var(--bg-c-2) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--bg-c-2) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-c-2);
}

h1,h2,h3,b1,b2,b3 {
    background-color: transparent;
    color: var(--txt-c-3);
}

.index-item-2_1 {
    left: -15vw;
}