@import url(var.css);

/* LANG */
.lang-item-1 {
    right: 10vw;
}

.lang-item-2 {
    right: 5vw;
}

/* INDEX */
.index-item img {
    width: 100%;
}

.index-info {
    color: var(--txt-c-2);
    margin-bottom: var(--pad);
    white-space: nowrap;
}

.index-img img {
    line-height: 0;
    box-shadow: calc(var(--container-bs-size)*(-1)) var(--container-bs-size) var(--container-bs-c);
}

/* -- */
.index-item-CEL {
    left: -10vw;
    width: clamp(250px, 70vw, 650px);
}
.index-item-RES {
    left: -15vw;
    width: clamp(70px, 40vw, 300px);
}
.index-item-WVD {
    left: 0;
    width: clamp(150px, 60vw, 550px);
}
.index-item-EVR {
    left: 18vw;
    width: clamp(120px, 40vw, 300px);
}
.index-item-LAS {
    left: -15vw;
    width: clamp(200px, 50vw, 500px);
}
.index-item-LIB {
    left: 5vw;
    width: clamp(250px, 70vw, 650px);
}
.index-item-GAR {
    left:20vw;
    width: clamp(100px, 50vw, 400px);
}
.index-item-WOM {
    left: -10vw;
    width: clamp(150px, 60vw, 550px);
}
.index-item-PIR {
    left: 20vw;
    width: clamp(75px, 50vw, 250px);
}
.index-item-PRC {
    left: -10vw;
    width: clamp(100px, 50vw, 200px);
}
.index-item-GAL {
    left: 10vw;
    width: clamp(200px, 50vw, 500px);
}
